<body>
    <h1>Hey! It's  
        <% if (today === 0 || today === 6) { %>
            the weekend, it's time to have fun!
        <% } else { %>
            a weekday, it's time to work hard!
        <% } %>
    </h1>
</body>

<!-- <body><h1>Hey! It's a <%#=week%></h1></body> -->
